<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Tables</title>
    <!-- Custom fonts for this template-->
    <link href="./static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="./static/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="./static/css/sb-admin.css" rel="stylesheet">
</head>

<body id="page-top">
<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="index.html">Database Logged as: {{session.username}}</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
    </button>

</nav>

<div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="index.html">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>
        </li>
      <li class="nav-item dropdown">
            <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
               href="#"
               id="pagesDropdown" role="button">
                <i class="fas fa-fw fa-lock"></i>
                <span>User Settings</span>
            </a>
            <div aria-labelledby="pagesDropdown" class="dropdown-menu">
                <h6 class="dropdown-header">Login Screens:</h6>
                <a class="dropdown-item" href="/">Change User</a>
                <a class="dropdown-item" href="forgot-password.html">Forgot Password</a>
                <div class="dropdown-divider"></div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="recruitment.html">
                <i class="fas fa-fw fa-table"></i>
                <span>New Recruitment</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="recruitment.html">
                <i class="fas fa-fw fa-table"></i>
                <span>Employees</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="recruitment.html">
                <i class="fas fa-fw fa-table"></i>
                <span>Departments</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="recruitment.html">
                <i class="fas fa-fw fa-table"></i>
                <span>Contracts</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="recruitment.html">
                <i class="fas fa-fw fa-table"></i>
                <span>Attendance</span>
            </a>
        </li>
    </ul>


    <div id="content-wrapper">

        <div class="container-fluid">

            <h1>Contracts</h1>
            <h4>Information about contracts of employees.</h4>
            <script src="./static/vendor/chart.js/Chart.min.js"></script>

            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-chart-area"></i>
                    Enrollment Line Plot
                </div>
                <div class="card-body">
                    <canvas height="30" id="myAreaChart" width="100%"></canvas>
                </div>
                <script>
var ctx = document.getElementById("myAreaChart");
var myLineChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: [{% for l in l1 %}"{{l}}",{% endfor %}],
    datasets: [{
      label: 'The Number of Enrolled Employees',
      lineTension: 0.3,
      backgroundColor: "rgba(2,117,216,0.2)",
      borderColor: "rgba(2,117,216,1)",
      pointRadius: 5,
      pointBackgroundColor: "rgba(2,117,216,1)",
      pointBorderColor: "rgba(255,255,255,0.8)",
      pointHoverRadius: 5,
      pointHoverBackgroundColor: "rgba(2,117,216,1)",
      pointHitRadius: 50,
      pointBorderWidth: 2,
      data: [{% for l in l2 %}"{{l}}",{% endfor %}],
    }],
  },
  options: {
    scales: {
      xAxes: [{
        time: {
          unit: 'date'
        },
        gridLines: {
          display: false
        },
        ticks: {
          maxTicksLimit: 18
        }
      }],
      yAxes: [{
        ticks: {
          min: 0,
          max: 15,
          maxTicksLimit: 5
        },
        gridLines: {
          color: "rgba(0, 0, 0, .125)",
        }
      }],
    },
    legend: {
      display: true
    }
  }
});
                </script>
            </div>

            {% include '_messages.html' %}
            {% from "_formhelpers.html" import render_field %}
{#            <form method="POST" action="{{url_for('search_employee')}}" id="ef">#}
{#                <div class="form-group">#}
{#                    <input type="text" name="eid" class="form-control" placeholder="Eid"#}
{#                           autofocus="autofocus" value={{ request.form.eid }}>#}
{#                </div>#}
{#                <div class="form-group">#}
{#                    <input type="text" name="ename" class="form-control" placeholder="Name"#}
{#                           autofocus="autofocus" value={{ request.form.ename }}>#}
{#                </div>#}
{#                <div class="form-group">#}
{#                    <input type="text" name="gender" class="form-control" placeholder="Gender"#}
{#                           autofocus="autofocus" value={{ request.form.gender }}>#}
{#                </div>#}
{##}
{#                <div class="form-group">#}
{#                    <input type="text" name="department" class="form-control" placeholder="Department"#}
{#                           autofocus="autofocus" value={{ request.form.department }}>#}
{#                </div>#}
{#                <div class="form-group">#}
{#                    <input type="text" name="address" class="form-control" placeholder="Address"#}
{#                           autofocus="autofocus" value={{ request.form.address }}>#}
{#                </div>#}
{##}
{##}
{#                <p><input class="btn btn-primary" type="submit" value="Search"></p>#}
{#            </form>#}

            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Contract Data
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Cid</th>
                                <th>Eid</th>
                                <th>Name</th>
                                <th>Department</th>
                                <th>Start</th>
                                <th>End</th>
{#                                <th></th>#}
                            </tr>
                            </thead>
                            <tbody>
                            {% for contract in contracts %}
                            <tr>
                                <td>{{contract[0]}}</td>
                                <td>{{contract[1]}}</td>
                                <td>{{contract[2]}}</td>
                                <td>{{contract[3]}}</td>
                                <td>{{contract[4]}}</td>
                                <td>{{contract[5]}}</td>
{#                                <th>#}
{#                                    <form action="{{url_for('delete_employee', eid=employee[0])}}" method="post">#}
{#                                        <input type="hidden" name="method" value="DELETE">#}
{#                                        <input type="submit" value="Delete" class="btn btn-danger">#}
{#                                    </form>#}
{#                                </th>#}
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright © SDSC 5003 Fantastic Four</span>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


<!-- Bootstrap core JavaScript-->
<script src="./static/vendor/jquery/jquery.min.js"></script>
<script src="./static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="./static/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Page level plugin JavaScript-->
<script src="./static/vendor/datatables/jquery.dataTables.js"></script>
<script src="./static/vendor/datatables/dataTables.bootstrap4.js"></script>

<!-- Custom scripts for all pages-->
<script src="./static/js/sb-admin.min.js"></script>

<!-- Demo scripts for this page-->
<script src="./static/js/demo/datatables-demo.js"></script>

</body>

</html>
