<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">

    <title>Index</title>

    <!-- Custom fonts for this template-->
    <link href="./static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="./static/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="./static/css/sb-admin.css" rel="stylesheet">

</head>

<body id="page-top">

<nav class="navbar navbar-expand navbar-dark bg-dark static-top">
    <a class="navbar-brand mr-1" href="index.html">Database Logged as: {{session.username}}</a>
    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" href="#" id="sidebarToggle">
        <i class="fas fa-bars"></i>
    </button>
<!--    <div align="right" style="color: white"><h2>Welcome {{session.username}}</h2></div>-->
</nav>


<div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="index.html">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>
        </li>
      <li class="nav-item dropdown">
            <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
               href="#"
               id="pagesDropdown" role="button">
                <i class="fas fa-fw fa-lock"></i>
                <span>User Settings</span>
            </a>
            <div aria-labelledby="pagesDropdown" class="dropdown-menu">
                <h6 class="dropdown-header">Login Screens:</h6>
                <a class="dropdown-item" href="/">Change User</a>
                <a class="dropdown-item" href="forgot-password.html">Forgot Password</a>
                <div class="dropdown-divider"></div>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
               href="#"
               id="pagesDropdown" role="button">
                <i class="fas fa-fw fa-table"></i>
                <span>Table 1</span>
            </a>
            <div aria-labelledby="pagesDropdown" class="dropdown-menu">
                <h6 class="dropdown-header">Options:</h6>
                <a class="dropdown-item" href="table1.html">Operation</a>
                <a class="dropdown-item" href="#">Summary</a>
                <div class="dropdown-divider"></div>
            </div>
        </li>
<!--        <li class="nav-item">-->
<!--            <a class="nav-link" href="table1.html">-->
<!--                <i class="fas fa-fw fa-table"></i>-->
<!--                <span>Table 1</span>-->
<!--            </a>-->
<!--        </li>-->
        <li class="nav-item dropdown">
            <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
               href="#"
               id="pagesDropdown" role="button">
                <i class="fas fa-fw fa-table"></i>
                <span>Table 2</span>
            </a>
            <div aria-labelledby="pagesDropdown" class="dropdown-menu">
                <h6 class="dropdown-header">Options:</h6>
                <a class="dropdown-item" href="table1.html">Operation</a>
                <a class="dropdown-item" href="#">Summary</a>
                <div class="dropdown-divider"></div>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
               href="#"
               id="pagesDropdown" role="button">
                <i class="fas fa-fw fa-table"></i>
                <span>Table 3</span>
            </a>
            <div aria-labelledby="pagesDropdown" class="dropdown-menu">
                <h6 class="dropdown-header">Options:</h6>
                <a class="dropdown-item" href="table1.html">Operation</a>
                <a class="dropdown-item" href="#">Summary</a>
                <div class="dropdown-divider"></div>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
               href="#"
               id="pagesDropdown" role="button">
                <i class="fas fa-fw fa-table"></i>
                <span>Table 4</span>
            </a>
            <div aria-labelledby="pagesDropdown" class="dropdown-menu">
                <h6 class="dropdown-header">Options:</h6>
                <a class="dropdown-item" href="table1.html">Operation</a>
                <a class="dropdown-item" href="#">Summary</a>
                <div class="dropdown-divider"></div>
            </div>
        </li>
    </ul>

    <div id="content-wrapper">

        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Overview</li>
            </ol>

            <!-- Icon Cards-->
            <div class="row">

                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-primary o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fas fa-fw fa-comments"></i>
                            </div>
                            <div class="mr-5">Table 1</div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="table1.html">
                            <span class="float-left">View Details</span>
                            <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
                        </a>
                    </div>
                </div>

                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-warning o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fas fa-fw fa-list"></i>
                            </div>
                            <div class="mr-5">Table 2</div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="tables.html">
                            <span class="float-left">View Details</span>
                            <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-success o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fas fa-fw fa-shopping-cart"></i>
                            </div>
                            <div class="mr-5">Table 3</div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="tables.html">
                            <span class="float-left">View Details</span>
                            <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
                        </a>
                    </div>
                </div>

                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-danger o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fas fa-fw fa-life-ring"></i>
                            </div>
                            <div class="mr-5">Table 4</div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="tables.html">
                            <span class="float-left">View Details</span>
                            <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Area Chart Example-->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-chart-area"></i>
                    Area Chart Example
                </div>
                <div class="card-body">
                    <canvas height="30" id="myAreaChart" width="100%"></canvas>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8">
                    <div class="card mb-3">
                        <div class="card-header">
                            <i class="fas fa-chart-bar"></i>
                            Bar Chart Example
                        </div>
                        <div class="card-body">
                            <canvas height="50" id="myBarChart" width="100%"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card mb-3">
                        <div class="card-header">
                            <i class="fas fa-chart-pie"></i>
                            Pie Chart Example
                        </div>
                        <div class="card-body">
                            <canvas height="100" id="myPieChart" width="100%"></canvas>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright © SDSC 5003</span>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="logoutModal" role="dialog"
     tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="./static/vendor/jquery/jquery.min.js"></script>
<script src="./static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="./static/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Page level plugin JavaScript-->
<script src="./static/vendor/chart.js/Chart.min.js"></script>
<script src="./static/vendor/datatables/jquery.dataTables.js"></script>
<script src="./static/vendor/datatables/dataTables.bootstrap4.js"></script>

<!-- Custom scripts for all pages-->
<script src="./static/js/sb-admin.min.js"></script>

<!-- Demo scripts for this page-->
<script src="./static/js/demo/datatables-demo.js"></script>
<script src="./static/js/demo/chart-area-demo.js"></script>
<script src="./static/js/demo/chart-bar-demo.js"></script>
<script src="./static/js/demo/chart-pie-demo.js"></script>

</body>

</html>
